<a href="https://colab.research.google.com/github/SolbiChoi/learn_machinelearning1/blob/master/pandas_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

sample_data

In [2]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Jun 15 13:37 sample_data

In [3]:
!pwd

/content

In [4]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [6]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:45 ./Wholesale_customers_data.csv

In [ ]:
import pandas as pd
df = pd.read_csv('Wholesale_customers_data.csv')
df.info()

In [15]:
mydict =[{'a':1, 'b':2, 'c':3, 'd':4},
         {'a':100, 'b':200, 'c':300, 'd':400},
         {'a':1000, 'b':2000, 'c':3000, 'd':4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [16]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [17]:
df.iloc[1,2]

300

In [18]:
df.iloc[1:2,2:3]

     c
1  300

In [21]:
df.iloc[:4,1:3]

      b     c
0     2     3
1   200   300
2  2000  3000

In [23]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [25]:
df.loc['cobra','shield']

2

In [27]:
df.loc['cobra':'viper','max_speed':'shield']

       max_speed  shield
cobra          1       2
viper          4       5